.buttons {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.buttons > button {
  margin: 30px;
  background-color: blue;
  height: 40px;
  width: 60px;
  color: white;
  border-radius: 5px;
}

.card-content {
  display: flex;
  justify-content: center;
}

.forBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0.3px 10px 2px rgba(10, 10, 10, 0.3);
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
#para {
  text-align: center;
}
